<div class="card" style="width: 18rem;">
  <img src="{{user.avatar}}" class="card-img-top" alt="User avatar">
  <div class="card-body">
    <h5 class="card-title">{{user.first_name}}&nbsp;{{user.last_name}}</h5>
    <p class="card-text">Some quick example text which discribe current user and give short information about him.</p>
    <div class="btn-group">
      <a href="mailto: {{user.email}}" class="btn btn-primary">Connect</a>
      <button class="btn btn-primary" (click)="delete(user.id)">Delete</button>
    </div>
  </div>
</div>
