<div class="container">
  <div class="row">
    <div class="col-10">
      <ng-container *ngIf="loggedIn; then loginTemplate; else logoutTemplate"></ng-container>
    </div>
    <div class="col-2">
      <button *ngIf="!loggedIn" class="btn btn-primary" (click)="login()">login</button>
      <button *ngIf="loggedIn" class="btn btn-primary" (click)="logout()">logout</button>
    </div>
  </div>
</div>

<ng-template #loginTemplate>
  <div class="alert alert-success">
    Logged in
  </div>
</ng-template>
<ng-template #logoutTemplate>
  <div class="alert alert-danger">
    Log in before work
  </div>
</ng-template>
