<div class="car">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-info">
          <h2> {{ model }} </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-info">
          <div class="row">
            <div class="col">
              <span>speed:</span>
              <h2> {{ speed }} </h2>
            </div>
            <div class="col">
              <span>acc:</span>
              <h2> {{ acceleration }} </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="alert alert-info">
          <h2> {{ info }} </h2>
        </div>
      </div>
      <div class="col">
        <div class="alert alert-info">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" type="button" name="button">START</button>
            </div>
            <div class="col">
              <button class="btn btn-secondary" type="button" name="button">INC</button>
              <button class="btn btn-secondary" type="button" name="button">DEC</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
